<!DOCTYPE html>
<html.lang="es">

<head>
    <title>proyecto</title><!--nombre del sitio en el navegador-->

    <!--favicon-->
    <link rel="shortcut icon" href="/proyecto/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/proyecto/favicon.ico" type="image/x-icon">

</head>
<body><!--contenido visible del navegador-->
    <header id="inicio"><!--encabezado -->
       <h1>Creatutti</h1>
       <img src="/img/CREA TUTTI (27).png" width="100" alt="logo"><!--logo-->
       <nav><!--menu de navegacion-->
        <ul>
            <li><a href="index.html">menu</a></li>
            <li><a href="productos.html">productos</a></li>
            <li><a href="preguntas_frecuentes.html">preguntas frecuentes</a></li>
            <li><a href="contacto.html">contacto</a></li>
        </ul>

       </nav>
    </header>
    <hr>
    <main>
        <h1>contacto</h1>
        <form action=""><!--formulario de contacto-->
            <label for="nombre">Nombre:</label><!--casillero nombre-->
            <input type="text" name="nombre"><br>
            <label for="correo">Correo electronico</label><!--casillero correo-->
            <input type="email" name="correo"><br>
            <label for="telefono">Telefono</label><!--casillero telefono-->
            <input type="text" name="telefono"><br>
            <label for="localidad">Localidad</label><!--casillero localidad-->
            <input type="text" name="localidad"><br>
            <textarea name="consulta" cols="40" rows="20" placeholder="Escriba su consulta"></textarea> <br><!--casillero de consultas-->

            <h3>botones</h3>
            <input type="submit" name="enviar"><!--boton de enviar-->
            <input type="reset" name="borrar"><!--boton de borrar-->

        </form>

    </main>
    <hr>
    <aside><!--niño jugando-->
        <img src="/img/CREA TUTTI (42).png" alt="imagen niño jugando">
    </aside>
    <hr>
<footer><!--pie de pagina-->
    <p>redes sociales. oajsdijasojd</p><!--aca estan las redes sociales-->
    <ul>
       <li><a href="https://www.instagram.com/creatutti.ar/"> instagram</a><!--instagram--></li>
       <li><a href="#inicio">inicio</a></li>
    </ul>
</footer>


</body>
</html>